/* Base Application Styles */
html,body {
  background-color:#222;
  width:100%;
  height:100%;

  .content {
    width:100%;
    height:100%;

    .stage {
      position:relative;
      width:100%;
      height:680px;

      .img-sec {
        background-color:#ddd;
        width:100%;
        height:100%;
        overflow:hidden;

        @at-root {
          .img-figure {
            width:320px;
            margin:0;
            padding:30px;
            box-sizing:border-box;
            background-color:#FFFFFF;
            position:absolute;

            img {
              width:100%;
              height:180px;
            }

            figcaption {
              text-align:center;
              .img-title {
                margin:20px 0 0 0;
                color:#a7a0a2;
                font-size:16px;
              }
            }
          }
        }

      }

      .controller-nav {
        position: absolute;
        left: 0;
        bottom:30px;
        z-index: 101;
        text-align:center;
      }
    }
  }
}
